@import "../partials/_charte";
@import "../partials/_page";
@import "../partials/_mediaqueries";

footer {
  background-color: $colorBlack;
  box-sizing: border-box;
  padding: 1rem 0 5rem 0;
  position: relative;
  height: 10.5rem;
  min-height: 22vh;
  z-index: 25;

  #foot {
    display: flex;
    justify-content: center;
    border-top: solid 1px gray;
    padding-top: 0.5em;
  }
}
