$principale: 'prompt', helvetica;
$principaleLight: 'promptLight', helvetica;
$secondary: 'inconsolata', courrier new;
$article: 'marvel', trebuchet;
$font-bold: 700;

$colorBlack: #000;
$colorWhite: #fff;
$colorGraySergent: #444;
$colorGrayCredential: #606060;
$colorGrayActu: #e6e6e6;
$colorGrayAdress: #c0c0c0;
$colorBlueMember: #000080;
$hoverLink: lighten($colorBlueMember,50%);

a {
  color: $colorBlueMember;
}

a:hover {
  color: $hoverLink;
}
