@media (max-width: 992px) {


  .carousel-item {
    display: none;
  }
  .main-panel {
    height: 10%;
    width: 100%;
    position: relative;
    z-index: 10;

    .second-main-panel {
      display: none;

      .third-main-panel {
        display: none;
      }
    }
  }

  .shadow-carousel {
    display: none;
  }

  .shadow-carousel2 {
    display: none;
  }

  .landing-title {
    width: 100%;
    position: fixed;
    margin-top: 29.486rem;
    padding: 0.2rem 3rem 0 3rem;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 10, 0.8));
    //background-color: $colorBlueMember;
    z-index: 10;

    h1 {
      text-align: center;
      color: white;
      font-size: 2rem;
      margin-left: -10rem;
    }
  }

  .menu-top {
    margin-left: 1%;
  }

  .navbar {
    background-color: Black;
    max-height: 2rem;
    position: fixed;
    z-index: 30;

    .nav--nav {
      padding-left: 1.7rem;
    }

    .nav-link{
      color: blue !important;
      margin-right: 5rem;
      z-index: 31;
      white-space: nowrap;

      .nav-item--regular {
        margin-right: 5rem;
      }

      p, a {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: -1rem;
      }
    }

    .nav--register {
      padding-left: 0.8rem;
      padding-right: 6.7rem;

      .link--member {
        color: #3d8af7;
        font-style: italic;
        margin-right: 1rem;
      }
    }
  }

  .subnav {
    display: none;
  }

  .section {
    background-color: #444444;

    .article {
      margin: 1rem 0 0 0;
    }
  }

  .event-date {
    text-align: left;
    font-size: 0.6rem;
  }

  .gallery {
    display: none;
  }
}

@media (max-width: 1199.99px) {

  .gallery {
    display: none;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

  .big-picture_component {
    display: none;
  }

  footer {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

  .big-picture_component {
    display: none;
  }

  footer {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

  .gallery {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

  .el-logo {
    display: none;
  }
  .section {

    .article {
      margin-left: 20%;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .section {

    .article {
      margin-left: 10%;
    }
  }
}

@media (min-height: 758px) {

}
