.big-picture_component {
  min-height: 100vh;
  width: 100vw;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}

/*body, html {
  height: 100%;
}

.hero-image {
  Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read
  Set a specific height
  height: 50rem;
  width: 100%;

  Position and center the image to scale nicely on all screens
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: 14;
}
*/

.subnav {
  position: fixed;
  z-index: 30;
  top: 0;

  .subnav--sergent {
    box-sizing: border-box;
    width: 15rem;
    background-color: grey;
    padding: 0 3% 0 3%;
    margin-left: 2.7rem;
    min-height: 21rem;
    max-height: 21rem;
    position: relative;
    z-index: 30;
    top: 0;

    .logo {
      height: 6rem;
      width: 7.5rem;
      margin-bottom: 2rem;
    }

    .subnav--main {
      margin-top: -40rem;
      margin-left: -1.5rem;
      position: absolute;
      z-index: 100;

      li {
        padding-top: 0.5rem;
        text-align: center;

        a {
          color: white;
          font-size: 1rem;
        }

        a:link {
          text-decoration: none;
        }

      }
    }
  }

  .subnav--tri {
    position: absolute;
    padding-top: 21rem;
    margin-left: -0.57rem;
    z-index: 35;

    .px {
      border-style: solid;
      border-width: 7.48rem;
      border-color: grey rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    }
  }
}

.subnav--rond {
  padding-top: 29.7rem;
}

.medaille--rond {
  color: rgb(255, 255, 255);
  background-color: rgb(192, 192, 192);
  padding: 2.8rem 2rem;
  border-radius: 50%;

  p {
    padding-top: 3rem;
    text-align: center;
  }
}

.section {
  min-width: 100%;
  min-height: 78vh;
  margin-top: 5rem;
  position: relative;
  z-index: 20;

  .article {
    // min-height: 26.78rem;
    // min-height: 54.5vh;
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin: 1rem 3% 5rem 20%;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    top: 0;
    z-index: 21;

    .main-title {
      padding: 0.8rem 0 2.3rem 0;
      text-align: center;
      font-weight: 900;
    }

    .article-container {
      background-color: white;
      margin-left: -2.6rem;
      margin-bottom: 1rem;
      padding: 1rem;

      .article-title {
        text-align: center;
        padding: 1rem;
      }

      .article-pik {
        text-align: center;
        padding-bottom: 1rem;

        img {
          width: 100%;
          border: 0.1rem solid rgba(0, 0, 0, 0.5);
        }
      }
      .article-exe {
        padding: 0.5rem 1.5rem;
        font-style: italic;
        width: 39rem;

        p {
          text-align: center;
          font-size: 1rem;
        }
      }
      .article-article {
        padding: 0.5rem 1.5rem;
      }
    }
  }

  .article:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .article_two {
    @extend .article;
    margin-top: -1.5rem;
  }

.gallery {
  min-height: calc(100% + 2rem);
  //min-width: 10rem;
  min-width: 20%;
  margin-top: -2rem;
  margin-left: 3rem;
  padding-top: 1rem;
  margin-right: 3rem;
  position: fixed;
  bottom: 0;
  z-index: 30;
  padding-top: 5rem;
  .pik-big-box {

    h6 {
      text-align: center;
      padding-top: 1rem;
      padding-left: 2rem;
    }

    .pik-box {
      padding: 1rem 0;
      margin-bottom: 1rem;

      p {
        text-align: center;
        font-size: 1rem;
        color: white;
      }

      .pik {
        padding-left: 2rem;
        padding-top: 0rem;

        img {
          // METTRE LES WIDTH EN PX
          width: 16rem;
          border: 0.1rem solid rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
}

/*.section {
  min-height: 200%;
  width: 100%;
  background-color: $colorWhite;
  margin-top: 0rem;
  margin-bottom: 15rem;
  position: relative;
  z-index: 9;

  .article {
    min-height: 100%;
    background-color: $colorWhite;
    padding: 1rem 1rem 1rem 1rem;
    margin: 5rem 0rem 2.5rem 0rem;
    position: relative;
    z-index: 10;
  }

  .article_two {
    @extend .article;
    margin-top: -1.5rem;
  }
}
*/
