<img src="../assets/images/bp/armada-rouen-2019-nhpb-cornemuserouen.jpg" alt="NHPB pipe band armada 2019" class="big-picture_component">

<div class="main-section container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-1 col-xs-10">
      <app-subnav></app-subnav>
    </div>
    <div class="col-md-7 col-sm-10 col-xs-10">
      <div class="section container-fluid">
        <div class="article">
          <div class="main-title">
            <h3>Le Normandy Highland Pipe Band</h3>
          </div>
          <p>
            C'est en juin 2001 que 3 passionnés de musique écossaise se rencontrent au festival celtique
            de Jumièges (76). L'un est joueur de cornemuse, le second joue de la caisse claire et le troisième...
            est rapidement formé à la grosse caisse.
          </p>
          <p>
            Après quelques mois de réflexion et de contacts divers, l'association NORMANDY HIGHLANDS PIPE BAND
            (NHPB) est créée en septembre 2002. Depuis sa création, le NHPB a pour vocation première d'œuvrer
            pour le devoir de mémoire en rendant hommage aux soldats tombés pour la liberté. En hommage aux soldats
            écossais, il porte la tenue des régiments Black Watch (3 Scots), les Highlanders de ces régiments
            furent nombreux à donner leur vie en France et dans notre région. En 2002, c'est la commune de Perriers
            sur Andelle (27) qui accueille le NHPB et, par les infrastructures mises à sa disposition, lui offre de
            pouvoir travailler et se développer. Le NHPB reste attaché à cette commune de cœur où il effectue
            également sa première prestation le 11 novembre 2002.
          </p>
          <p>
            Le NHPB est donc présent lors de nombreuses commémorations, sur demande des ambassades, des autorités
            officielles, des associations ou des élus qui le sollicitent. Il l'est aussi pour de nombreuses fêtes,
            défilés divers ou des parades qui se déroulent lors de grands événements historiques et culturels, en
            France et en Europe. C'est ainsi que certains d'entre vous nous ont peut-être croisés le NHPB sur les
            rivages de Dieppe ou du Calvados, à Mauny ou à Saint Valéry en Caux ou l'ont admiré lors du défilé des
            équipages de la dernière Armada à Rouen.
          </p>
          <p>
            De défilés en concerts (Bonnie Tyler, Soldat Louis) divers, le Normandy Highlands Pipe Band est aujourd'hui
            ne association rouennaise qui œuvre plus que jamais pour la mémoire et promeut la culture écossaise.
          </p>
          <p>
            Le NHPB s'articule désormais en une école de musique et un Pipe Band qui est la formation musicale reine de
            l'association. Dans notre école "Highland Piping and Drumming School", chacun peut trouver une structure de
            formation s'appuyant sur une méthode d'instruction officielle et un encadrement expérimenté pour apprendre à
            son rythme la cornemuse ou le jeu des percussions avec les batteries Tom ténors ou Snares. Après une période
            de formation nécessaire, les élèves de l'école peuvent intégrer les rangs du Pipe - Band et commencer à défiler.
            Vient également la plus belle des récompenses pour les amoureux de l' Ecosse et de sa musique: porter le kilt
            et la grande tenue "Full Dress" de cérémonie.
          </p>
          <p>
            Nos musiciens partagent alors de riches moments de passion avec le public qui désormais reconnaît le NHPB
            au - delà de la Normandie. Lors de sa première décennie, l'association NHPB a posé le socle d'une formation
            solide qui lui permet aujourd'hui de se tourner vers de plus grandes manifestations.
          </p>
          <p>
            Sans oublier de jouer dans nos petits villages normands, le NHPB prépare le premier concours des Pipe - Bands
            de la toute jeune fédération française des Pipe - Bands (FPB) à Lorient (56) en août 2016. Il faut aussi se
            préparer à rivaliser maintenant avec les formations prestigieuses d'Outre - Manche. Le NHPB est donc condamné
            à serrer les rangs et à avancer... avec vous peut-être?
          </p>
          <p>
            Débutant ou joueur confirmé, rejoignez - nous pour souffler ces bougies d'une folle
            mais riche passion musicale.
          </p>
          <a href="mailto:pipebandnhpb@gmail.com">
            <p>Contact</p>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-1 col-xs-1">
      <app-aside></app-aside>
      <!--
      <div class="gallery">
        <div class="pik-big-box">
          <h6></h6>
          <div class="pik-box">
            <p></p>
            <div class="pik">
              <img src="../../assets/images/cornemuse-ecole/nhpb-instrument-pipeband-percussion-cornemuserouen.jpg"
              alt="percussions pipe band ecossais cornemuse">
            </div>
          </div>
          <div class="pik-box">
            <p></p>
            <div class="pik">
              <img src="">
            </div>
          </div>
        </div>
      </div>
      -->
    </div>
  </div>
</div>

<app-footer></app-footer>
