<img src="../assets/images/bp/united-pipers-for-peace-defilé-amiens-2018-nhpb-cornemuserouen.jpg"
     alt="pipers for peace défilé 2018 NHPB" class="big-picture_component">
<div class="main-section container-fluid">
  <div class="row">
    <div class="col-2 col-md-2 col-sm-1 col-xs-10">
      <app-subnav></app-subnav>
    </div>

    <div class="col-md-7 col-sm-10 col-xs-10">
      <div class="section container-fluid">
        <div class="article">
          <div class="main-title">
            <h3>L'uniforme</h3>
          </div>
          <p>En fonction de l'évenement, nos musiciens revêtent différentes tenues.
            LE NHPB dispose de trois tenues officielles : La Full Dress, la tenue millitaire et la tenue civile
          </p>
          <p>
            Les Pipers et les Drummers ont des kilts de couleurs différentes : Tartan Black Watch pour les
            percussionistes et Royal Stewart pour les Sonneurs.
          </p>

          <ul>
            <li>
              <div class="article-container">
                <h5 class="article-title">La full dress</h5>
                <div class="article-pik">
                  <img src="../../assets/images/uniforme-pipeband/black-watch-fulldress-nhpb-cornemuserouen.jpg"
                  alt="piper full dress uniforme black watch">
                </div>
                <div class="article-exe">
                  <p>
                    Christophe Réault (Piper) et Jérémy Leport (Drummer) en full Dress, please !
                  </p>
                </div>
                <div class="article-article">
                  <p>
                    En fonction du pupitre d'appartenance du musicien, la composition de la full dress sera différente.
                  </p>
                  <p>
                    Pour un joueur de cornemuse, on a un Kilt, un pourpoint, une cape de sonneur,
                    un sporran à longs crins, une ceinture pour sporran, une ceinture en cuir portée en écharpe (comme une
                    Miss), une ceinture à la taille avec une grosse boucle en métal, des chaussettes, des guêtres,
                    des godillots et un couvre chef.
                  </p>
                  <p>
                    Un percussionniste va avoir le même uniforme sans la cape, qui gênerait son harnachement.
                  </p>
                </div>
              </div>
            </li>

            <li>
              <div class="article-container">
                <h5 class="article-title">La tenue militaire</h5>
                <div class="article-pik">
                  <img src="../../assets/images/uniforme-pipeband/black-watch-tenue-militaire-1-nhpb-cornemuserouen.jpg"
                       alt="pipe band nhpb en tenue militaire">
                </div>
                <div class="article-exe">

                </div>
                <div class="article-article">
                  <p>

                  </p>
                </div>
              </div>
            </li>

            <li>
              <div class="article-container">
                <h5 class="article-title">La tenue civile</h5>
                <div class="article-pik">
                  <img src="../../assets/images/uniforme-pipeband/black-watch-tenue-civile-nhpb-cornemuserouen.jpg"
                  alt="pipe band nhpb en tenue civile">
                </div>
                <div class="article-exe">

                </div>
                <div class="article-article">
                  <p>

                  </p>
                </div>
              </div>
            </li>

            <li>
              <div class="article-container">
                <h5 class="article-title">La tenue spéciale météo normande</h5>
                <div class="article-pik">
                  <img src="../../assets/images/uniforme-pipeband/black-watch-raincape-nhpb-cornemuserouen.jpg"
                  alt="pipe band pluie rain cape">
                </div>
                <div class="article-exe">

                </div>
                <div class="article-article">
                  <p>

                  </p>
                </div>
              </div>
            </li>

            <li>
              <div class="article-container">
                <h5 class="article-title">Au naturel</h5>
                <div class="article-pik">
                  <img src="../../assets/images/uniforme-pipeband/repetition-pipeband-cours-cornemuse-nhpb-cornemuserouen.jpg"
                       alt="répétition pipe band cornemuse Rouen">
                </div>
                <div class="article-exe">

                </div>
                <div class="article-article">
                  <p>

                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-1 col-xs-1">
            <app-aside></app-aside>
            <!--
            <div class="gallery">
              <div class="pik-big-box">
                <h6>Eléments de la tenue</h6>
                <div class="pik-box">
                  <p>Le Glengarry</p>
                  <div class="pik">
                    <img src="../../assets/images/uniforme-pipeband/black-watch-glengarry-nhpb-cornemuserouen.jpg"
                    alt="glegarry nhpb pipeband Rouen">
                  </div>
                </div>
                <div class="pik-box">
                  <p>Le Sporran</p>
                  <div class="pik">
                    <img src="../../assets/images/uniforme-pipeband/black-watch-sporran-nhpb-cornemuserouen.jpg"
                    alt="glegarry nhpb pipeband Rouen">>
                  </div>
                </div>
              </div>
            </div>
            -->
          </div>
  </div>
</div>
<app-footer></app-footer>

