@import "../partials/_charte";
@import "../partials/_page";
@import "../partials/_mediaqueries";

.event-container {
  background-color: white;
  margin-left: -2.6rem;
  margin-bottom: 1rem;
  padding: 1rem;

  .event-title {
    text-align: center;
    padding: 1rem;
  }
  .event-pik {
    text-align: center;
    padding-bottom: 1rem;

    img {
      width: 100%;
      border: 0.1rem solid rgba(0, 0, 0, 0.5);
    }
  }
  .event-date {
    padding: 0.5rem 0rem;
    font-style: italic;
    width: 39rem;
    text-align: center;

    p {
      font-size: 1rem;
    }
  }
  .event-article {
    padding: 0.5rem 1.5rem;
  }
}

.gallery {
  background-color: black;
}


