<img src="../assets/images/bp/united-pipers-for-peace-massband-amiens-2018-nhpb-cornemuserouen.jpg"
     alt="Massband Amiens 2018 United Pipers for peace" class="d-block w-100" alt="..."class="big-picture_component">
<div class="main-section container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-1 col-xs-10">
      <app-subnav></app-subnav>
    </div>

    <div class="col-md-7 col-sm-10 col-xs-10">
      <div class="section container-fluid">
        <div class="article">
          <div class="main-title">
            <h3>ON Y ETAIT ...</h3>
          </div>
          <ul>

            <li>
              <div class="event-container">
                <h5 class="event-title" id="Luzarches2019">Les Highlands Games de Luzarches</h5>
                <div class="event-pik">
                  <img src="../../assets/images/nhpb-evenements/2019/luzarches-2019/highlands-games-luzarches-john-anael-2019-nhpb-cornemuserouen.jpg">
                </div>
                <p>
                  Ce 29 septembre 2019, 50 athlètes européens se sont retrouvés à Luzarches dans le Val d'oise pour
                  y disputer des Highland games, dans la tradition écossaise.
                </p>
                <p><a href="http://www.luzarches.net/highland-games-319.html" onclick="window.open(this.href); return false;">
                  Luzarches.net</a></p>
              </div>
            </li>

            <li>
              <div class="event-container">
                <h5 class="event-title">Libération de Perriers-Sur-Andelle</h5>
                <div class="event-pik">
                  <img src="../../assets/images/nhpb-evenements/2019/perriers-liberation-2019/liberation-perriers-sur-andelle-2019-nhpb-cornemuserouen.jpg">
                </div>
                <div class="event-date">
                  <p>
                    Perriers sur Andelle, le 31 août et 1er septembre 2019
                  </p>
                </div>
                <div class="event-article">
                  <p>
                    Le Normandy Highland Pipe Band participe à la commémoration
                    du 75ème anniversaire de la libération organisé par la mairie de Perrier
                    sur Andelle.
                  </p>
                </div>
              </div>
            </li>

            <li>
              <div class="event-container">
                <h5 class="event-title">L'Armada</h5>
                <div class="event-pik">
                  <img src="../../assets/images/nhpb-evenements/2019/armada-2019/armada-rouen-pipeband-2019-nhpb-cornemuserouen.jpg">
                </div>
                <div class="event-date">
                  <p>
                    Rouen, le 12 juin 2019
                  </p>
                </div>
                <div class="event-article">
                  <p>
                    Le Normandy Highland Pipe Band participe au défilé des marins.
                  </p>
                </div>
              </div>
            </li>

            <li>
              <div class="event-container">
                <h5 class="event-title">La pentecôte en kilt</h5>
                <div class="event-pik">
                  <img src="../../assets/images/nhpb-evenements/2019/treport-2019/pentecote-en-kilt-treport-merslesbains-2019-nhpb-cornemuserouen.jpg">
                </div>
                <div class="event-date">
                  <p>
                    Le Tréport, Mers-les-Bains, le 8 et 9 juin 2019
                  </p>
                </div>
                <div class="event-article">
                  <p>
                    Evènement qui a lieu eu Tréport et à Mers-Les-Bain, les samedi
                    et dimanche de la pentecôte. Défilés, jeux traditionnels écossais,
                    sont au programme pour entertain plusieurs centaines de visiteurs
                    chaquea année.
                  </p>
                  <p>Terra Crom, Breaking Beats Clan, ... sont au rendez-vous avec le Normandy
                    Highland Pipe Band.
                  </p>
                  <p>Article sur :<a href="https://actu.fr/normandie/treport_76711/a-mers-bains-treport-kilts-font-leur-retour-week-end-pentecote_24852687.html" onclick="window.open(this.href); return false;">
                    Actu.fr</a></p>
                </div>
              </div>
            </li>

            <li>
            <div class="event-container">
              <h5 class="event-title">United Pipers for Peace</h5>
              <div class="event-pik">
                <img src="../../assets/images/nhpb-evenements/2018/united-pipers-for-peace-2018/united-pipers-for-peace-amiens-groupe-2018-nhph-cornemuserouen.jpg"
                     alt="united pipers for peace amiens nhpb pipeband">
              </div>
              <div class="event-date">
                <p>
                  Amiens, le 7 et 8 juin 2018
                </p>
              </div>
              <div class="event-article">
                <p>
                  Mass Band devant la cathédrale d'Amiens. Ce samedi sont réunis 370 joueurs de cornemuse
                  pour célébrer le centenaire de la grande guerre.
                </p>
              </div>
            </div>
          </li>

            <li>
            <div class="event-container">
              <h5 class="event-title" id="Concours de Lorient">Concours de Lorient</h5>
              <div class="event-pik">
                <img src="../../assets/images/nhpb-evenements/2016/lorient-2016/concours-cornemuse-lorient-2016-nhpb-750.jpg"
                     alt="united pipers for peace amiens nhpb pipeband">
              </div>
              <div class="event-date">
                <p>
                  Lorient, Août 2016
                </p>
              </div>
              <div class="event-article">
                <p>
                  Mass Band devant la cathédrale d'Amiens. Ce samedi sont réunis 370 joueurs de cornemuse
                  pour célébrer le centenaire de la grande guerre.
                </p>
              </div>
            </div>
          </li>

            <li>
              <div class="event-container">
                <h5 class="event-title">Commémoration des deux guerres</h5>
                <div class="event-pik">
                  <img src="../../assets/images/nhpb-evenements/2016/bretigny-2016/commemoration-des-deux-guerres-bretigny-2016-nhpb-cornemuserouen-695.jpg"
                       alt="united pipers for peace amiens nhpb pipeband">
                </div>
                <div class="event-date">
                  <p>
                    Chateau de la Houssaye, Brétigny, 8 mai 2016
                  </p>
                </div>
                <div class="event-article">
                  <p>
                    Défilé jusqu’au monument aux morts de Brétigny, accompagné par la fanfare
                    musique de cornemuses (Normandy Highlands pipe bands).
                  </p>
                  <p><a href="https://www.infos-citoyennes.com/commemoration-le-5-6-7-et-8-mai-a-bretigny/" onclick="window.open(this.href); return false;">
                    Infos citoyennes
                  </a></p>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-1 col-xs-1">
      <app-aside></app-aside>
      <!--
      <div class="gallery">
        <div class="pik-big-box">
          <h6>2019</h6>
          <ul>
            <li>Les Highlands Games de Luzarches</li>
            <li>L'Armada</li>
            <li>Libération de Perriers-Sur-Andelle</li>
            <li>La pentecôte en kilt</li>
          </ul>
          <div class="pik">
            <img [src]="">
          </div>
        </div>
      </div>
      -->
    </div>
  </div>
</div>
<app-footer></app-footer>
