@import "../partials/_charte";

.menu-top {
  margin-left: 21%;
}

.navbar {
  background-color: Black;
  max-height: 3.2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  z-index: 30;

  .nav--nav {
    padding-left: 1.7rem;

    i {
      font-size: 1.2rem;
      color: $colorWhite;
    }
  }



  .nav-link{
    color: $colorWhite;
    margin-right: 5rem;
    z-index: 31;
    white-space: nowrap;

    .nav-item--regular {
      margin-right: 5rem;
    }

    p {
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: -1rem;
    }
  }

  .nav--register {
    padding-left: 0.8rem;
    padding-right: 6.7rem;

    .link--member {
      color: #3d8af7;
      font-style: italic;
      margin-right: 1rem;
    }
  }
}

