<nav class="navbar navbar-expand-lg fixed-top">
  <div class="menu-top">

    <div class="row">
      <div class="col-10">
        <div class="navbar-header">
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse #navbarToggler03"
                  aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <ul class="nav--nav navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item nav-item--regular menu-burger" id="icone"><a class="nav-link">
            <i class="fa fa-bars" animation="spin"></i></a>
          </li>
          <li class="nav-item nav-item--regular">
            <a class="nav-link" routerLink="nhpb" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">A propos</a>
          </li>
          <li class="nav-item nav-item--regular">
            <a class="nav-link" routerLink="journal" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Journal de bord</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="ecole" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">L'école de musique</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="prestation" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Les Prestations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:pipebandnhpb@gmail.com">Nous contacter</a>
          </li>

        </ul>
      </div>
      <div class="col-2">
        <app-facebook></app-facebook>
      </div>
    </div>
  </div>
</nav>


