<div class="col-3">
  <div class="subnav">
    <div class="subnav--sergent">
      <div class="subnav--tri"><img class="px" src="../../assets/images/1px.png" /></div>
      <div class="subnav--rond">
        <div class="medaille--rond">
          <app-adress></app-adress>
          <ul class="subnav--main">
            <li><a href="Accueil"><img class="logo" src="../../assets/images/logo.png" /></a></li>
            <li><a href="nhpb">Le NHPB</a></li>
            <li><a href="pipeband">Pipe Band ?</a></li>
            <li><a href="membres">Les Membres</a></li>
            <li><a href="instruments">Les Instruments</a></li>
            <li><a href="repertoire">Le répertoire</a></li>
            <li><a href="uniforme">L'uniforme</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
