@import "../partials/_charte";
@import "../partials/_mediaqueries";

.subnav {
  position: fixed;
  z-index: 30;
  top: 0;

  .subnav--sergent {
    box-sizing: border-box;
    width: 100%;
    background-color: grey;
    padding: 0 3% 0 3%;
    margin-left: 2.7rem;
    min-height: 21rem;
    max-height: 21rem;
    position: relative;
    z-index: 30;
    top: 0;

    .logo {
      height: 6rem;
      width: 7.5rem;
      margin-bottom: 2rem;
    }

    .subnav--main {
      margin-top: -40rem;
      margin-left: -1.5rem;
      position: absolute;
      z-index: 100;

      li {
        padding-top: 0.5rem;
        text-align: center;

        a {
          color: white;
          font-size: 1rem;
        }

        a:link {
          text-decoration: none;
        }

      }
    }
  }

  .subnav--tri {
    position: absolute;
    padding-top: 21rem;
    margin-left: -0.57rem;
    z-index: 35;

    .px {
      border-style: solid;
      border-width: 7.48rem;
      border-color: grey rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    }
  }
}

.subnav--rond {
  padding-top: 29.7rem;
}

.medaille--rond {
  color: rgb(255, 255, 255);
  background-image: url("../../assets/images/Royal-stewart-tartan.png");
  padding: 2.8rem 2rem;
  border-radius: 50%;

  p {
    padding-top: 3rem;
    text-align: center;
  }
}

.medaille--rond:hover {

}

