<img src="../assets/images/bp/nhpb-instruments-pipeband-cornemuserouen.jpg"
     alt="percussions et cornemuse pipe band ecossais NHPB" class="big-picture_component">

<div class="main-section container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-1 col-xs-10">
      <app-subnav>
      </app-subnav>
    </div>
    <div class="col-7">
      <div class="section container-fluid">
        <div class="article">
          <div class="main-title">
            <h3>Les instruments</h3>
          </div>
          <!-- Test Link sur children
          https://www.intertech.com/Blog/angular-router-tutorial-setting-up-routing-in-your-application/
          <a routerLink="pipe">La cornemuse</a>
          <router-outlet></router-outlet>
          -->
          <h3>La cornemuse</h3>

          <p>
            La grande cornemuse écossaise est un instrument bizarre initialement fabriqué à partir de la panse de
            brebis géante que l'on vidait au préalable. Elle émet un son assourdissant, ce qui ne permet pas au musiciens
            de jouer à la maison sous peine de dispute, divorce, voire décès prématuré. Heureusement un écossais astucieux a
            inventé le practice de cornemuse, qui a permi de démocratiser la pratique de cet instrument.
          </p>
          <h5>Le snare drum</h5>
          <p>
            Le snare Drum est un petit tambour au son sec. Il accompagne agréablement les cornemuses et permet aux joueurs
            de marcher en rythme..
          </p>
          <h5>Le Tom</h5>
          <p>
            Le Tom est un tambour qui se joue avec de jolies mailloches à moumoute. Les joueurs de tom effectuent des
            figures compliquées de tourné-boulé de la mailloche pour en fin de figure asséner un coup sur la peau de l'instrument.
            La difficulté est de ne pas se la mettre dans l'oeil.
          </p>
          <h5>La grosse Caisse</h5>
          <p>
            La grosse caisse est un méga tambour que l'on porte sur le ventre. En général, il n'y a qu'un seul joueur de grosse caisse
            par défilé. C'est celui qui entend le mieux, car en fait il ne voit pas ou il va et est obligé de se diriger au son des cornemuses
            et des drums.
          </p>
          <h5>Le gros baton</h5>
          <p>
            Le gros baton, n'émet aucun son. Il sert au drum major pour initier le rythme du band. Celui-ci défile en tête du cortège et si il
            se plante, le reste du groupe aussi.
          </p>

        </div>
      </div>
    </div>
    <div class="col-3">
      <app-aside [asideTitle]="titreAside" [asideComment]="texteCornemuse"
                 [asidePik]="pikCornemuse" [asideComment2]="textePercussion"
                 [asidePik2]="pikPercussion"
      ></app-aside>
      <!--
      <div class="gallery">
        <div class="pik-big-box">
          <h6>Les instruments</h6>
          <div class="pik-box">
            <p>La cornemuse</p>
            <div class="pik">
              <img src="../../assets/images/cornemuse-ecole/nhpb-instrument-pipeband-bagpipe-cornemuserouen.jpg"
               alt="cornemuse bagpipe pipe band ecossais cornemuse">
            </div>
          </div>
          <div class="pik-box">
            <p>Les percussions</p>
            <div class="pik">
              <img src="../../assets/images/cornemuse-ecole/nhpb-instrument-pipeband-percussion-cornemuserouen.jpg"
              alt="percussions pipe band ecossais cornemuse">
            </div>
          </div>
        </div>
      </div>
      -->
    </div>
  </div>
</div>
<app-footer></app-footer>

