<div class="adress">
  <p class="NHPB">Normandy Highland Pipe Band</p>
  <p>MJC Rive gauche</p>
  <p>Place de Hanovre</p>
  <p>76100 Rouen</p>
  <p>Tél : 06 08 63 53 60</p>
  <a href="mailto:pipebandnhpb@gmail.com">
  <p>pipebandnhpb@gmail.com</p>
</a>
</div>
