<img src="../assets/images/bp/pentecote-kilt-treport-2017-1-nhpb-cornemuserouen.jpg" alt="Pentecote en kilt Treport Mers les bains 2017 NPHB" class="big-picture_component">
<div class="main-section container-fluid">
  <div class="row">
    <div class="col-xl-2 col-lg-2 col-md-1 col-sm-1 col-xs-1">
      <app-subnav>
      </app-subnav>
    </div>

    <div class="col-xl-7 col-lg-10 col-md-10 col-sm-10 col-xs-10">
      <div class="section container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="article">
              <div class="main-title">
                <h3>Ceci est un test !</h3>
              </div>
              <p>Le Normandy Highlands Pipe Band sillonne la France et outre-frontières pour vous faire découvrir la musique écossaise !!</p>
              <p>La musique traditionnelle écossaise.</p>
              <p>Pour plus de renseignements contactez-nous : <a href="mailto:pipebandnhpb@gmail.com">
                pipebandnhpb@gmail.com
              </a></p>
              <p><a href="https://whatismyviewport.com" onclick="window.open(this.href); return false;">Teste ton ViewPort</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-1 col-md-1 col-sm-1 col-xs-1">
      <app-aside [asideTitle]="titreUn"></app-aside>
    </div>

  </div>
</div>
<app-footer></app-footer>

