<img src="../assets/images/bp/pentecote-kilt-treport-2017-1-nhpb-cornemuserouen.jpg" alt="Pentecote en kilt Treport Mers les bains 2017 NPHB" class="big-picture_component">
<div class="main-section container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-1 col-xs-10">
      <app-subnav>
      </app-subnav>
    </div>

    <div class="col-md-7 col-sm-10 col-xs-10">
      <div class="section container-fluid">
        <div class="article">
          <div class="main-title">
            <h3>Le Normandy Highland Pipe Band</h3>
          </div>
          <p>Le Normandy Highlands Pipe Band sillonne la France et outre-frontières pour vous faire découvrir la musique écossaise !!</p>
          <p>Les prestations  musicales sont assurées par un groupe de musiciens composé de joueurs de cornemuses écossaises (piper)
            et de percussionnistes (drummers), dont le répertoire est directement inspiré des musiques traditionnelles régimentaires et
            contemporaines écossaises. Un certain nombre de musiciens viennent de formations musicales diverses où ils ont acquis l’expérience
            et la culture de la musique traditionnelle écossaise.</p>
          <p>Pour plus de renseignements contactez-nous : <a href="mailto:pipebandnhpb@gmail.com">
            pipebandnhpb@gmail.com
          </a></p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-1 col-xs-1">
      <app-aside [asideTitle]="titrePresta" [asidePik]="pikPresta"
                 [lement]="lements"></app-aside>
    </div>

  </div>
</div>
<app-footer></app-footer>

