@import "../partials/_charte";
@import "../partials/_page";
@import "../partials/_mediaqueries";

.gallery {
  background-color: $colorGraySergent;
  min-height: calc(100% + 2rem);
  //min-width: 10rem;
  min-width: 20%;
  margin-top: -2rem;
  padding-top: 1rem;
  position: fixed;
  bottom: 0;
  z-index: 20;
  padding-top: 5rem;
  .pik-big-box {

    h6 {
      text-align: left;
      padding-top: 1rem;
      padding-left: 2rem;
    }

    .pik-box {
      padding: 1rem 0;
      margin-bottom: 1rem;

      p {
        text-align: center;
        font-size: 1rem;
        color: white;
      }

      .pik {
        padding-left: 2rem;
        padding-top: 0rem;

        img {
          // METTRE LES WIDTH EN PX
          width: 16rem;
          border: 0.1rem solid rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
