<div class="gallery">
  <div class="pik-big-box">
    <h6>{{ asideTitle }}</h6>
    <ul class="event-list">
      <li *ngFor="let element of elements"><a href="{{ element.reference }}">
        {{ element.name }}</a>
      </li>
    </ul>
    <div class="pik-box">

      <!--
        <ul>
          <li>{{ lement }}</li>
        </ul>
      -->
      <p>{{ asideComment }}</p>
      <div class="pik">
        <img src="{{ asidePik }}">
      </div>
    </div>
    <div class="pik-box">
      <p>{{ asideComment2 }}</p>
      <div class="pik">
        <img src="{{ asidePik2 }}">
      </div>

    </div>
  </div>
</div>

