<img src="../assets/images/bp/nhpb-cours-de-cornemuse.jpg" alt="ecole de  cornemuse rouen" class="big-picture_component">

<div class="main-section container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-1 col-xs-10">
      <app-subnav></app-subnav>
    </div>

    <div class="col-md-7 col-sm-10 col-xs-10">
      <div class="section container-fluid">
        <div class="article">
          <div class="main-title">
            <h3>L'école de musique</h3>
          </div>
          <p>
            VOUS RÊVEZ DE REJOINDRE LE Normandy Highland Pipe Band ! Vous souhaitez apprendre la cornemuse ou les percussions
            (Snare ou Tom ténor) avec la méthode traditionnelle écossaise ?
            C'est donc le moment de commencer votre apprentissage en suivant l'un de nos cours. Venez comme vous êtes...
            un practice à acheter sur place avant votre 1ère leçon et le livret d'apprentissage vous est remis.
          </p>
          <p>
            C'est donc le moment de commencer votre apprentissage en suivant l'un de nos cours. Venez comme vous êtes...
            un practice à acheter sur place avant votre 1ère leçon et le livret d'apprentissage vous est remis.
          </p>
          <p>
            Les cours se déroulent chaque jeudi, hors vacances scolaires, de 18h30 à la MJC Saint Sever,
            place de Hanovre, rive gauche à Rouen.
          </p>
          <p>Contact : <a href="mailto:pipebandnhpb@gmail.com">
            pipebandnhpb@gmail.com
          </a></p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-1 col-xs-1">
      <app-aside></app-aside>
      <!--
      <div class="gallery">
        <div class="pik-big-box">
          <h6></h6>
          <div class="pik-box">
            <p></p>
            <div class="pik">
              <img src="../assets/images/cornemuse-ecole/nhpb-manuel-musique.jpg" alt="manuel apprentissage
              cornemuse rouen">
            </div>
          </div>
        </div>
      </div>
      -->
    </div>
  </div>
</div>
<app-footer></app-footer>

