
<div>
  <div class="main-panel">
    <div class="second-main-panel">
      <div id="demo" class="third-main-panel">
        <div class="">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

              <div class="carousel-item active" data-interval="1000"><div class=""container>
                <img src="..\assets\images\bp\united-pipers-for-peace-massband-amiens-2018-2-nhpb-cornemuserouen.jpg" alt="Massband Amiens 2018
                United Pipers for peace NHPB" class="" class="d-block w-100" alt="...">
              </div></div>

              <div class="carousel-item" data-interval="1000"><div class=""container>
                <img src="..\assets\images\bp\united-pipers-for-peace-massband-amiens-2018-nhpb-cornemuserouen.jpg" alt="Massband Amiens 2018
                United Pipers for peace" class="d-block w-100" alt="...">
              </div></div>

              <div class="carousel-item" data-interval="1000"><div class=""container>
                <img src="..\assets\images\bp\nhpb-caricature-2.jpg" alt="Caricature des membres du NHPB" class="d-block w-100" alt="...">
              </div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shadow-carousel">
    </div>
    <div class="shadow-carousel2">
    </div>
    <div class="el-logo">
      <img class="logo" src="../../assets/images/logo.png" />
    </div>
    <div class="landing-title">
      <h1>Le Normandy Highland Pipe Band</h1>
    </div>
    <div class="landing-article">
      <div class="container">
        <p>Le Normandy Highland Pipe Band sillonne la France et outre-frontières depuis 2002, pour vous faire découvrir la musique écossaise.</p>
        <p>Basée à Rouen en Normandie, notre association assure des prestations musicales lors de fêtes, de commémorations,
          ou de célébrations particulières. Nos musiciens, joueurs de cornemuse et percusionnistes formés dans notre école de musique défilent en tenue civile,
          militaire, full dress Black Watch ou décontractée selon les circonstances. Le répertoire musical est directement inspiré
          des musiques traditionnelles régimentaires, et contemporaines.</p>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>





