@import "../partials/_charte";
@import "../partials/_page";
@import "../partials/_mediaqueries";


body {
  position: relative;
}

.big-picture {
  height: 35rem;
  min-height: 35rem;
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.navbar {
  background-color: white !important;
}

.carousel-item {
  height: 35rem;
  min-height: 35rem;
  width: 100% !important;
  transition-duration: 2s;
  transition-delay: 2s;
  position: static;
  z-index: -1;
}

.main-panel {
  height: 35rem;
  width: 100%;
  position: relative;
  background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.1));
  z-index: 10;

  .second-main-panel {
    height: 35rem;
    width: 100%;
    position: fixed;
    z-index: 10;
    left: 0;

    .third-main-panel {
      height: 35rem;
      width: 100%;
      position: fixed;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(10, 10, 42, 0.8));

      .temporary {
        p, ul, li {
          font-family: $article;
          font-size: 1.2325rem;
          color: white;
        }
      }
    }
  }
}
.shadow-carousel {
  height: 35rem;
  width: 100%;
  position: absolute;
  // Start on the right
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 10, 0.5));
  z-index: 10;
}

.shadow-carousel2 {
  height: 35rem;
  width: 100%;
  position: absolute;
  // Start on the right
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 10, 0.5));
  z-index: 10;
}

.landing-title {
  width: 100%;
  position: fixed;
  margin-top: 29.486rem;
  padding: 0.2rem 3rem 0 3rem;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 10, 0.8));
  //background-color: $colorBlueMember;
  z-index: 10;

  h1 {
    text-align: center;
    color: white;
    margin-left: -10rem;
  }
}

.el-logo {
  position: fixed;
  margin-top: 35.8rem;
  z-index: 10;

  img {
    padding: 1rem 1.3rem 1rem 0;
    margin-left: 9.5rem;
    height: 8.5rem;
    width: 9.2rem;
    border-right: 1px solid $colorGraySergent;
  }
}

.landing-article {
  position: fixed;
  margin-top: 35.9rem;
  width: 100%;
  text-align: left;

  p {
    padding-left: 5rem;
  }
}

.temporary {
  p, ul, li {
    font-family: $article;
    font-size: 1.2325rem;
    color: white;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .main-panel {
    height: 10%;
    width: 100%;
    position: relative;
    background-image: url("../../assets/images/bp/eilean-donan-castle.jpg");
    z-index: 10;
  }
}
