<img src="../assets/images/bp/concours-cornemuse-lorient-2016-nhpb.jpg" class="big-picture_component">
<div class="main-section container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-1 col-xs-10">
      <app-subnav></app-subnav>
    </div>

    <div class="col-md-7 col-sm-10 col-xs-10">
      <div class="section container-fluid">
        <div class="article">
          <div class="main-title">
            <h3>Notre répertoire</h3>
          </div>
          <p>
            Nous jouons de la musique régimentaire et traditionnelle écossaise : slow air, marche,
            6/8, strathspey, Pìobaireachd... Des airs que vous connaissez surement comme : Amazing Grace, Flowers of Scotland, Auld lang syne
            When the pipers play à d'autre que vous découvrirez, Ichy Finger, Steamtrain to Mallaig...
            Nous interprétons aussi des airs de musique contemporaine : We will rock you,
            les lac du Connemara, la Boum... etc.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-1 col-xs-1">
      <app-aside></app-aside>
      <!--
      <div class="gallery">
        <div class="pik-big-box">
          <h6></h6>
          <div class="pik-box">
            <p></p>
            <div class="pik">
              <img src="">
            </div>
          </div>
          <div class="pik-box">
            <p></p>
            <div class="pik">
              <img src="">
            </div>
          </div>
        </div>
      </div>
      -->
    </div>
  </div>
</div>
<app-footer></app-footer>

