<img src="../assets/images/bp/nhpb-caricature-2.jpg" alt="Caricature des membres du NHPB" class="big-picture_component">

<div class="main-section container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-1 col-xs-10">
      <app-subnav>
      </app-subnav>
    </div>

    <div class="col-md-7 col-sm-10 col-xs-10">
      <div class="section container-fluid">
        <div class="article">
          <div class="main-title">
            <h3>Les Musiciens</h3>
          </div>
          <div class="musicien-container container-fluid">
            <div class="row">
              <div class="col-4 musicien-box">
                <app-musicien [musicienPseudo]="pseudoDiverres" [musicienName]="musicienDiverres"></app-musicien>
                <div class="pik-id--box">
                  <img class="pik-id" [src]="pikDiverres">
                  <p>Pipe Major</p>
                </div>
              </div>
              <div class="col-4 musicien-box">
                <app-musicien [musicienPseudo]="pseudoLemire" [musicienName]="musicienLemire"></app-musicien>
                <div class="pik-id--box">
                  <img class="pik-id" [src]="pikLemire">
                  <p>Joueur de cornemuse</p>
                </div>
              </div>
              <div class="col-4 musicien-box">
                <app-musicien [musicienPseudo]="pseudoSalhorgne" [musicienName]="musicienSalhorgne"></app-musicien>
                <div class="pik-id--box">
                  <img class="pik-id" [src]="pikSalhorgne">
                  <p>Joueur de cornemuse</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-4 musicien-box">
                <app-musicien [musicienPseudo]="pseudoLeport" [musicienName]="musicienLeport"></app-musicien>
                <div class="pik-id--box">
                  <img class="pik-id" [src]="pikLeport">
                  <p>Grosse Caisse</p>
                </div>
              </div>
              <div class="col-4 musicien-box">
                <app-musicien [musicienPseudo]="pseudoReault" [musicienName]="musicienReault"></app-musicien>
                <div class="pik-id--box">
                  <img class="pik-id" [src]="pikReault">
                  <p>Joueur de cornemuse</p>
                </div>
              </div>
              <div class="col-4 musicien-box">
                <app-musicien [musicienPseudo]="pseudoDeve" [musicienName]="musicienDeve"></app-musicien>
                <div class="pik-id--box">
                  <img class="pik-id" [src]="pikDeve">
                  <p>Joueur de cornemuse</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-4 musicien-box">
                <app-musicien [musicienPseudo]="pseudoRiviere" [musicienName]="musicienRiviere"></app-musicien>
                <div class="pik-id--box">
                  <img class="pik-id" [src]="pikRiviere">
                  <p>Tom et Snare Drum</p>
                </div>
              </div>
              <div class="col-4 musicien-box">
                <app-musicien [musicienPseudo]="pseudoCharbonneau" [musicienName]="musicienCharbonneau"></app-musicien>
                <div class="pik-id--box">
                  <img class="pik-id" [src]="pikCharbonneau">
                  <p>Joueur de cornemuse</p>
                </div>
              </div>
              <div class="col-4 musicien-box">
                <app-musicien [musicienPseudo]="pseudoLamarre" [musicienName]="musicienLamarre"></app-musicien>
                <div class="pik-id--box">
                  <img class="pik-id" [src]="pikLamarre">
                  <p>Joueur de cornemuse</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-4 musicien-box">
                <app-musicien [musicienPseudo]="pseudoSorel" [musicienName]="musicienSorel"></app-musicien>
                <div class="pik-id--box">
                  <img class="pik-id" [src]="pikSorel">
                  <p>Joueur de cornemuse</p>
                </div>
              </div>
              <div class="col-4 musicien-box">
                <app-musicien [musicienPseudo]="pseudoReaultN" [musicienName]="musicienReaultN"></app-musicien>
                <div class="pik-id--box">
                  <img class="pik-id" [src]="pikReaultN">
                  <p>Joueur de cornemuse</p>
                </div>
              </div>
              <div class="col-4 musicien-box">
                <app-musicien [musicienPseudo]="pseudoHasne" [musicienName]="musicienHasne"></app-musicien>
                <div class="pik-id--box">
                  <img class="pik-id" [src]="pikHasne">
                  <p>Joueur de cornemuse</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-4 musicien-box">
                <app-musicien [musicienPseudo]="pseudoBerthelot" [musicienName]="musicienBerthelot"></app-musicien>
                <div class="pik-id--box">
                  <img class="pik-id" [src]="pikBerthelot">
                  <p>Joueur de cornemuse</p>
                </div>
              </div>
              <div class="col-4 musicien-box">
                <app-musicien [musicienPseudo]="pseudoPorcher" [musicienName]="musicienPorcher"></app-musicien>
                <div class="pik-id--box">
                  <img class="pik-id" [src]="pikPorcher">
                  <p>Joueur de cornemuse</p>
                </div>
              </div>
              <div class="col-4 musicien-box">
                <app-musicien [musicienPseudo]="pseudoBoitout" [musicienName]="musicienBoitout"></app-musicien>
                <div class="pik-id--box">
                  <img class="pik-id" [src]="pikBoitout">
                  <p>Joueur de cornemuse</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-4 musicien-box">
                <app-musicien [musicienPseudo]="pseudoQuillien" [musicienName]="musicienQuillien"></app-musicien>
                <div class="pik-id--box">
                  <img class="pik-id" [src]="pikQuillien">
                  <p>Joueur de cornemuse</p>
                </div>
              </div>
              <div class="col-4 musicien-box">
              </div>
              <div class="col-4 musicien-box">
              </div>
            </div>
          </div>

          <h3 id="accompagnant">Les Accompagnants</h3>
          <ul>
            <li>
              Brigitte Senault
            </li>
            <li>
              Jocelyne Duault
            </li>
            <li>
              Amyel Charbonneau--Toublanc
            </li>
            <li>
              Nathalie Toublanc
            </li>
          </ul>
          <h3 id="Sympatisants">Les Amis</h3>
          <ul>
            <li>
              Camille Sourdillat
            </li>
            <li>
              Jimmy Renouard
            </li>
            <li>
              Arnaud Pierron
            </li>
            <li>
              Nicolas Picard
            </li>
            <li>
              Xavier Petit
            </li>
            <li>
              Ulf Pecquet
            </li>
            <li>
              Nathan Margot
            </li>
            <li>
              Yves Jouvan
            </li>
            <li>
              Benjamin Jacquemettaz
            </li>
            <li>
              Daniel Herbert
            </li>
            <li>
              Manuel Goncalvez
            </li>
            <li>
              Manu Dacosta
            </li>
            <li>
              Stephen Clarke
            </li>
            <li>
              Enzo Aldera
            </li>
            <li>
              Frédérick Aldera
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-1 col-xs-1">
      <app-aside></app-aside>
      <!--
      <div class="gallery">
        <div class="pik-big-box">
          <h5></h5>
          <div class="pik-box">
            <p></p>
            <div class="pik">
              <img src="">
            </div>
          </div>
          <div class="pik-box">
            <p></p>
            <div class="pik">
              <img src="">
            </div>
          </div>
        </div>
      </div>
      -->
    </div>
  </div>
</div>
<app-footer></app-footer>

