@import "../partials/_charte";
@import "../partials/_page";
@import "../partials/_mediaqueries";

.musicien-container {

  padding-top: 2rem;

  .musicien-box {
    text-align: center;

    .pik-id--box {
      position: relative;
      height: 20rem;

      .pik-id {
        width: 200px;
        height: 265px;
        opacity: 0.8;
        //position: absolute;
      }

      .pik-id:hover {
        opacity: 1;
      }
    }
  }
}

.gallery {
  background: url("../../assets/images/Royal-stewart-tartan.png"), linear-gradient(to bottom,  #000000 100%,#000 50%);
}

